{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %} 
<h2>Create A Page</h2>

<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <input class="title" type="text" name="title" placeholder="Page Title" required> 
    
    <br>
    <br>
          
    <textarea id="content" name="content" placeholder="Title &#10;Page Content" required></textarea>
    <br>
    <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the server.</p>

{% endblock %}