{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %} 
<h2>Edit Page: {{ edit_title }} </h2>

<form action="{% url 'edit' edit_title %}" method="post">
    {% csrf_token %}
    <br>
    <br>      
    <textarea id="content" name="content">{{ edit_entry }}</textarea>
    <br>
    <input type="submit" value="Submit" name="edit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the server.</p>


{% endblock %}

<!-- <form action="{{ titles }}" method="post">
    <xmp>{{ titles }}</xmp> 
    {% csrf_token %}
    {{ form }}
    
    <br>
    <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the server.</p>
-->